@value colors: "../../sharedCss/variables/colors.css";
@value defaultPrimaryColor, darkPrimaryColor, dividerColor, textPrimaryColor, accentColor, primaryTextColor from colors;

.navPanel {
  width: 10em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.4);
  border-right: 0.1em solid #ccc;
  border-bottom: 0.1em solid #ccc;
  margin-right: 0.5em;
}

li {
  display: block;
  background-color: #fff;
  color: primaryTextColor;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 0.7em 2em;
}

li:hover {
  background-color: #eee;
}